#rating-pos {
float:right;
position:relative;
top: 10px;

}
.ratingstar-0 {
float:left;
width:740px;
height:27px; 
background:url(../images/review-stars.png) no-repeat 0px -122px;
margin-top: 5px;
}

.ratingstar-1 {
float:left;
width:740px;
height:27px; 
background:url(../images/review-stars.png) no-repeat 0px -94px;
margin-top: 5px;
}

.ratingstar-2 {
float:left;
width:740px;
height:27px; 
background:url(../images/review-stars.png) no-repeat 0px -70px;
margin-bottom: 18px;
}
.ratingstar-3 {
float:right;
width:740px;
height:27px; 
background:url(../images/review-stars.png) no-repeat 0px -47px;
margin-top: 5px;
}

.ratingstar-4 {
float:left;
width:740px;
height:27px; 
background:url(../images/review-stars.png) no-repeat 0px -22px;
margin-top: 5px;
}
.ratingstar-5 {
float:left;
width:740px;
height:27px; 
background:url(../images/review-stars.png) no-repeat 0px 0px;
margin-top: 5px;
}