.jackbox-info-text {
	
	padding-bottom: 1px;
	
}

.jackbox-container {

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#444444", endColorstr="#000000", GradientType=1);
	
}