header.sticky {
     top: 0px !important; 
}

.btn-group .flag_class{
	width: 30px !important;
    padding-top: 5px;
}

@media only screen and (max-width: 767px)
.logo, .sticky .logo, .stickyinner .logo {
    width: auto;
}

.productcat article {
     float: none !important; 
     width: auto !important; 
     padding-left: 0px !important; 
}

.productcat figure {
    width: auto !important;
}


/*@media only screen and (max-width: 767px)*/
/*.copyright {*/
/*    position: initial !important;*/
/*}*/

#mobile_footer{
     position: initial !important;
}

.footerlink {
    width: 23% !important;
}
@media only screen and (max-width: 767px) {
    ul.headeropt .btn-group {
         display: block !important;
    }
}

.bannner_img{
    max-height:650px;
}
}